.v2 {
  margin: 0 auto;

  padding: 1.25rem;
  width: 80%;
  max-width: 1200px;
  min-width: 1000px;

  display: flex;
}

.left-col-v2 {
  width: 35%;
  /* background-color: antiquewhite; */
  padding-right: 1rem;
}

.left-col-v2 > .exp-card-vertical {
  margin-top: 2rem;
}

.left-col-v2 > .hobby-card-vertical {
  margin-top: 2rem;
}

.right-col-v2 {
  width: 65%;
  padding-left: 1rem;
  /* background-color: aliceblue; */
}

.right-col-v2 > .project-card-horizontal {
  margin-top: 1rem;
}

.right-col-v2 > .blogs-panel {
  margin-top: 2rem;
}
.right-col-v2 > .blog-card-horizontal {
  margin-top: 1rem;
}
