.v2 {
  display: flex;
  gap: 0 2rem;

  width: 80%;
  min-width: 1000px;
  max-width: 1200px;

  margin: 0 auto;
  padding: 1.25rem;
}

.right-col-v2 > .projects-panel {
  margin-top: 0;
}

.left-col-v2 {
  width: 35%;
}

.left-col-v2 > .exp-card-vertical {
  margin-top: 2rem;
}

.left-col-v2 > .hobby-card-vertical {
  margin-top: 2rem;
}

.right-col-v2 {
  width: 65%;
}

.right-col-v2 > .project-card-horizontal {
  margin-top: 1rem;
}

.right-col-v2 > .blogs-panel {
  margin-top: 2rem;
}

.right-col-v2 > .blog-card-horizontal {
  margin-top: 1rem;
}

.hobbies-container {
  width: 80%;
  max-width: 1200px;
  min-width: 1000px;

  margin: 0 auto;
  padding: 1.25rem;
}
.hobbies-container > .hobby-card-horizontal {
  min-width: fit-content;
}
