.exp-card-horizontal {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
  padding: 1.25rem;

  width: 80%;
  max-width: 1200px;
  min-width: 1000px;
  height: 12rem;
}

.exp-card-horizontal > h1 {
  color: #4f4f4f;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.exp-cards {
  display: flex;
  gap: 0 2rem;
  margin-top: 1.5rem;
}

.exp-card {
  display: flex;
  width: 33%;
}

.exp-card > .company-logo {
  width: 20%;
  max-width: 4rem;
  padding: 0 1rem 0 0;
}

.exp-card:nth-child(3) img {
  border: 2px solid gainsboro;
}

.company-logo > img {
  border-radius: 50%;
  max-width: 100%;
}

.exp-card > .exp-details {
  width: 85%;

  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #828282;
}

.exp-details > .time-spent {
  font-size: 0.8em;
}

.exp-details > .role {
  color: #333;
  font-weight: 600;
  font-size: 1em;
  margin-top: 0.75rem;
}

.exp-details > .work-desc {
  font-size: 0.9em;
  margin-top: 1rem;
}

.exp-card-vertical {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);

  /* width: 20%; */
  /* min-width: 18rem; */
  /* max-width: 26rem; */

  padding: 1.25rem;
}

.exp-card-vertical > .exp-cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.exp-card-vertical > .exp-cards > .exp-card {
  width: 100%;
}

.exp-card-vertical > .exp-cards > .exp-card > .company-logo {
  width: 15%;
  padding-right: 0.75rem;
}

.exp-card-vertical > .exp-cards > .exp-card > .exp-details {
  font-size: 14px;
  width: 85%;
}
.exp-card-vertical > .exp-cards > .exp-card > .exp-details > .role {
  margin-top: 0.25rem;
}
.exp-card-vertical > .exp-cards > .exp-card > .exp-details > .work-desc {
  margin-top: 0.5rem;
}
