.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.home > .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 2rem;
}

.btn {
  background: #2f80ed;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border: none;
  border-radius: 0.75rem;

  width: 15rem;
  height: 4rem;
}

.button-special,
button {
  background-color: white;
  color: #2f80ed;
  border-radius: 0.75rem;
  border: 1px solid #2f80ed;
}

footer {
  text-align: center;
  margin-top: auto;
  padding-bottom: 1.25rem;
}
