.hobby-card-horizontal {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
  padding: 1.25rem;

  width: 80%;
  max-width: 1200px;
  min-width: 1000px;
  height: 18rem;
}

h1 {
  color: #4f4f4f;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hobby-cards {
  height: 100%;

  display: flex;
  gap: 0 2rem;

  margin-top: 1.25rem;
}

.hobby {
  flex: 1 1 0;

  width: 33%;
  height: 80%;

  font-family: "Montserrat";
  font-style: normal;
  line-height: normal;
}

.hobby-image {
  width: 100%;
  height: 50%;
}

.hobby-image > img {
  border-radius: 0.75rem;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.hobby > .hobby-title {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;

  margin-top: 1.25rem;
}

.hobby-desc {
  color: #828282;
  font-size: 1rem;
  font-weight: 500;

  margin-top: 1rem;
}

.hobby-card-vertical {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);

  padding: 1.25rem;
}

.hobby-card-vertical > .hobby-cards {
  flex-direction: column;
}

.hobby-card-vertical > .hobby-cards > .hobby {
  width: 100%;
}
