.blog-card-horizontal {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
  padding: 1.25rem;

  display: flex;
  gap: 0 2rem;

  /* width: 80%; */
  /* max-width: 1200px; */
  /* min-width: 1000px; */
  height: 20rem;
}

.blog-image {
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 0.75rem 0 0 0.75rem;

  width: 40%;
  margin-right: -20px;
}

.blog-image > img {
  width: 100%;
}

.blog-details {
  width: 60%;

  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-tag {
  color: #e0e0e0;
  font-size: 0.9em;
  font-weight: 500;
}

.blog-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 500;
  width: 11rem;
}

.blog-desc {
  color: #828282;
  font-size: 1em;
  padding-right: 3rem;
}

.blog-link a {
  color: #2f80ed;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.blog-card-vertical {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);

  padding: 1.25rem;
  flex-direction: column;
  justify-content: space-between;

  overflow-x: hidden;
  overflow-y: hidden;

  width: 20%;
  min-width: 18rem;
  /* max-width: 26rem; */
  height: 22rem;
  position: relative;
}

.blog-card-vertical > .blog-image {
  width: 50%;
  height: 10rem;

  border-radius: 12px;
  position: absolute;
  top: 20px;
  right: 0;
}
.blog-card-vertical > .blog-image > img {
  width: fit-content;
  height: 100%;
}

.blog-card-vertical > .blog-details {
  font-size: 12px;
  width: 100%;
}
.blog-card-vertical > .blog-details > .blog-title {
  width: 50%;
  margin: 2rem 0 4rem;
}
.blog-card-vertical > .blog-details > .blog-desc {
  padding-top: 1rem;
  padding-right: 0;
}

.blog-card-vertical > .blog-details > .blog-link {
  margin-top: 2.5rem;
}
.blog-card-vertical .blog-link a {
  font-size: 0.8em;
}
